.App {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  background-color: #FAFAFA;
  /* color: #444; */
  text-align: center;
  line-height: 1.5;
  position: relative;
  height: 100%;
  min-height: 95vh;
  padding-bottom: 80px;
  min-width: 320px;
}

.App__nav {
  padding-top: 1px;
  padding-bottom: 80px;
  background-color: #BAC7B3;
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  min-width: 320px;  margin-bottom: 2.5rem;
  border-bottom-width: 1px;
  box-shadow: 0 4px 6px -1px rgba(0,0,0,.1), 0 2px 4px -1px rgba(0,0,0,.06);
}


.App__footer {
  position: absolute;
  width: 100%;
  bottom: -1530px;
  background-color: #BABABA;
  color: white;
  padding-top: 23px;
  padding-bottom: 1px;
  font-size: 8px;
  font-family: 'Montserrat', sans-serif;
  z-index: 1;
  /* background-image: url('./Img/woods.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */

}

.logo {
  width: 75px;
  position: absolute; 
  left: 50%;
  transform: translate(-50%);
  padding-top: 6px;
  display: inline-block; 
  text-align: center;
}

/* .App__main {
  padding-left: 20px;
  padding-right: 20px;
} */

/* hr {
  width: 80%;
  color: black;
} */

ol {
  /*removes browser default */
  padding: 0;
  margin: 0; 
}

.footInfo {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-bottom: 10px;
}

.footLink {
  text-decoration: none;
  color: white;
  font-size: 10px;
  font-weight: 1000;
  margin: 10px;
}

.footLink:hover {
  color: #E3D0CC;
}

.footIcon {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-bottom: 5px;
}

.fIcon {
  text-decoration: none;
  font-size: 15px;
  color: white;
  margin: 10px;
  line-height: 28px;
  width: 26px;
  height: 26px;
  border-radius: 100%;
  border: 1px solid white;
}

.fIcon:hover {
  color:black;
  background-color: white;
}


@media screen and (min-width: 768px) {
  .App__nav {
    padding-bottom: 150px;
  }
  
  .logo {
    width: 150px;
  }

  .footLink {
    font-size: 20px;
  }

  .fIcon {
    font-size: 25px;
    line-height: 38px;
    width: 36px;
    height: 36px;
  }
  
  
}